

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: "flex";
    justify-content: 'center';
    align-items: "center";
    background-color: #ffffff;
    height: 100%;
    margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

p {
  text-align: center;
}

li {
    padding: 0px;
    margin: 0px;
}