h1{
    color: black;
}

.generalBox{
    text-align: center;
    padding-top:6%;
}

.alertItem{
    font-size: 1.2em;
    padding:10px;
    color:black;
    margin: 20px auto 20px auto;
    width:80%;
    height:10%;
    background-color: white;
    border-radius: 5px;
}
.pageTitle{
    font-size: 1.8em;
    
}
.eventList{
    padding: 0px;
    height: 100%;
    width:100%;
    margin: 0px auto 0px auto;
    overflow: hidden;
    list-style: none;
}
