.graphCanvas{
    width:80%;
    height:80%;
    padding-top:7%;
    margin: 0 auto;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding:6px 12px;
    margin: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
/*
.mytooltip {
    position:absolute;
    text-align: center;
    width: 200px;
    height:auto;
    background-color: #EDE3D1;
    border-radius: 10px;
    color: #787777;
    padding: 6px 12px;
    z-index:3;
}
  
.mytooltip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: #EDE3D1;
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
}

.mytooltip span {
      display: block;
      text-align: center;
      width: 200px;
      height: auto;
      margin: 5px auto;
}

#thumbnail {
    position:absolute;
    width: 200px;
    height: 20px;
    margin: 0 auto;
    color: #787777;
    text-align: center;
  }
*/